body{
	font-family: 'Open Sans', sans-serif;
}

.navbar{
	margin: 20px 0;
}

.navbar-default{
	background: transparent;
	border: none;
}

.navbar-nav>li>a{
	font-weight: bold;
}

.navbar-brand{
	font-family: 'Indie Flower', cursive;
}

header{
	padding: 20px 0;
}

.featured{
	background: #8BA9E8; color:#ffffff; padding: 40px 0; margin-bottom: 40px;
}

.featured h1{
	font-size: 60px;
	margin-top: -5px;
}

.featured p{font-size: 20px;}

.services{}

.services .glyphicon{font-size:50px;}

.title{margin-bottom: 40px;}

.title h2{
	margin:0px;
}

.phone{
	font-size: 30px;
}

footer{background: #555; color:#fff; padding:20px 0; margin-top: 40px;}

.copyright{background: #666; color:#fff; padding:20px;}


























